
<input #myInput>
<ng-container *pwShowOnlyForRole="'admin'">
<div class="box"
pwSelectable="selected" #boxSelector="pwSelectable"></div>
<button mat-button (click)="boxSelector.toggleSelection()">Toggle</button>
<mat-divider></mat-divider>
</ng-container>

<div class="box"
  *pwNgIf="let el from col dupa 'test'; let newVar = secondProp"
pwClicker="blue"
pwClickerBorder="solid 4px green"
(delayedClick)="handleDelayedClick($event)">
{{ el }} {{newVar}}</div>
<button #btn pwSelectable="selected" (click)="showBox = !showBox; checkElements()">Toggle</button>
