<pw-twitter>
  <pw-twitter-img #twitterContent></pw-twitter-img>
  <pw-twitter-img #twitterContent></pw-twitter-img>
  <pw-twitter-img #twitterContent></pw-twitter-img>
  <pw-twitter-video #twitterContent></pw-twitter-video>
  <pw-twitter-video #twitterContent></pw-twitter-video>
  <pw-twitter-video #twitterContent></pw-twitter-video>
</pw-twitter>



<div pwPwCardHeader>test</div>
<pw-custom-input>
  <input #myInput>
</pw-custom-input>

<pw-custom-container>
  <h1>My text</h1>
  <section>My content</section>
</pw-custom-container>

<ng-container *pwShowOnlyForRole="'admin'">
<div class="box"
pwSelectable="selected"
#boxSelector="pwSelectable"></div>
<button class="red-box" (click)="boxSelector.toggleSelection()">Toggle</button>
<mat-divider></mat-divider>
</ng-container>

<div class="box"
  *pwNgIf="let el from col dupa 'test'; let newVar = secondProp"
pwClicker="blue"
pwSelectable="selected"
pwClickerBorder="solid 4px green"
(delayedClick)="handleDelayedClick($event)">
{{ el }} {{newVar}}</div>
<button #btn pwSelectable="selected" (click)="showBox = !showBox; checkElements()">Toggle</button>

