:host {
  width: 390px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 80px;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  font-size: 14px;
}
